{% extends "base.html" %}

{% block head_title %}
{{ intance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
<br/><br/><br/><br/>
<section style="background: url('../static/yu.jpg')no-repeat scroll center center / cover; padding: 2em; 
	">
		<div class="container">
			<div class="row">
				<div class="clearfix" style="padding-left: 6em; padding-right: 6em;">
			<div class="propty" style="color: #ffffff; font-weight: 500px;">
			<h2 class="h2-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Lynmac Properties <i class="fas fa-quote-right"
            aria-hidden="true"></i></h2>
			</div>
			<br/>
			  <i><h2 class="h2-responsive" style="color: #fff; font-size:1.5em; letter-spacing: 2px;">Is an established Real estate firm in kenya registered in 2013.We specialize in Residential and commercial Properties in the areas of Property Management</i></h2>
		</div>
	</div>
</div>
</section>

<section class="service">
		<div class="container">

			<div class="row">
				<div class="col-sm-4">
				<i class="fas fa-chart-line"></i><br/>
				<h2>VISSION</h2>
				<b>To be the first world class choice of property management development and consultancy services</b>
					
				</div>
    		<div class="col-sm-4">
    		<i class="fas fa-signal" style="color: #FF8800;"></i><br>
    		<h2>MISSION</h2>
    		<b>To nurture lasting relationships with our clients through innovative, value adding property solutions and services that help them realize their objectives by educating and giving solutions that help connect insights people and their aspirations </b>
    			
    		</div>
    		<div class="col-sm-4">
    		<i class="fab fa-creative-commons-sampling" style="color: #CC0000;"></i><br/>
    		<h2>CORE VALUES</h2>
    		<b>We are focused, motivated and dedicated to making our Clients satisfied, happy and smiling for that is our GOAL</b>
    			
    		</div>
			</div>
		</div>
	</div>

</section>

<section class="cont">
	<div class="container">
	<h4 class="h2-responsive" style="font-size: 2.5em;
	color: #ffffff;
	font-weight: 500px;">OUR CORE VALUES</h4><br/>
    <div class="row blog">
      <div class="col-md-12">
        <div id="blogCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
         <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#blogCarousel" data-slide-to="1"></li>
        </ol>
           <!-- Carousel items -->
   <div class="carousel-inner">

     <div class="carousel-item active">
      <div class="row">
       <div class="col-md-4">
       
       <div class="card">
 				  <div class="card-body">
 				  <i class="far fa-chart-bar" style="color: #ff4444;"></i>
        <h3>INTEGRITY</h3>
       <p>We are honest, truthfull and accurate in our actions.</p>
       </div>
       </div>
        </div>

        <div class="col-md-4">
        <div class="card">
          <div class="card-body">
          <i class="fas fa-glass-cheers" style="color: #ffbb33;"></i>
        <h3>TEAM WORK</h3>
        <p>We work together cohesively, towards creating a postive working atmosphere, and supporting each to combine individual strengths to enhance team performance</p>
        </div>
       </div>
      </div>
      <div class="col-md-4">
  			<div class="card">
  			  <div class="card-body">
  			  <i class="fas fa-hands-helping" style="color: #00C851
;"></i>
  			<h3>EXCELLENCE</h3>
  			<p>We focus on our Clients'needs by offering the best, Keeping our employees positive and empowered and continually improving our current activities</p>
  			</div>
     </div>
    </div>
</div></div>

<div class="carousel-item">
  <div class="row">
     <div class="col-md-4">
      	<div class="card">
      	  <div class="card-body">
				<i class="far fa-thumbs-up" style="color: #0099CC;"></i>
      	<h3>PROFESSIONALISM</h3>
      	<p> We are competent and skilled</p>
      	</div>
      </div>
     </div>

  <div class="col-md-4">
  <div class="card">
    <div class="card-body">
    <i class="fab fa-creative-commons-sampling" style="color: #CC0000;"></i>
  <h3>UNDERSTANDING</h3>
  <p>We listen to our Clients, understand their needs and care for them by offering tailor made property solutions</p>
  </div>
  </div>
  </div>
  <div class="col-md-4">
  <div class="card">
    <div class="card-body">
    <i class="fas fa-signal" style="color: #FF8800;"></i>
 		<h3>COMMITMENT</h3>
 		<p>We are focused, motivated and dedicated to making our Clients satisfied, happy and smiling for that is our GOAL</p>
 </div>
 </div>
 </div>
 <!--.row-->
  </div>
   <!--.item-->
    </div>
  </div>
 </div>
</div>
</div>
 </section>


<section class="fooo">
	<div class="container">
		<div class="row">
		<div class="col-lg-9">
		<h2 class="h2-responsive"><i class="fas fa-quote-left" aria-hidden="true"> We are honest, truthfull and accurate in our actions.</h2></i>

		</div>
		<div class="col-md-3">
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal" style="font-size: 1em; font-weight: 500; color: #ffffff;">
      Contact Us
</button>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CONTACT US</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     <ul class="list-group list-group-flush">
  <ul class="list-group">
    <li class="list-group-item">
    <i class="fas fa-phone-volume"></i>+254 726 681 845 &nbsp;+254 735 100 856
    </li>
      <li class="list-group-item">
      <i class="fab fa-linkedin-in"></i>info@lynmac.co.ke
    </li>
       <li class="list-group-item">
      <i class="fab fa-linkedin-in"></i>lynmacproperties@gmail.com
    </li>
    <h1 style="color: #0d47a1; font-size: 1.5em;">Head Office</h1>
    <li class="list-group-item">
     <i class="fas fa-map-marker-alt"></i>4100, 1Chekmula Buliding
    </li>
    <li class="list-group-item">
      <i class="fab fa-linkedin-in"></i>3rd Floor Kisumu
    </li>
    <h1 style="color: #0d47a1; font-size: 1.5em;">Branch Office</h1>
      <li class="list-group-item">
     <i class="fas fa-map-marker-alt"></i>Lynmac Bd, Mamboleo Mkt
    </li>
      <li class="list-group-item">
     <i class="fas fa-map-marker-alt"></i>P.O.Box 489-40100
    </li>
  </ul>
</ul>
 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thanks</button>
      </div>
    </div>
  </div>
</div>

		</div>
		</div>
	</div>
	</div>
</div>
	

</section>



{% endblock content %}