
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block head_title %}Properties{% endblock head_title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

	 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

	<link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}' />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- Bootstrap core CSS -->
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!-- 	<link rel="stylesheet" href='{% static "css/base.css" %}' />
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"> -->

  <!-- <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'> -->
  <!-- Material Design Bootstrap -->
  <!-- <link rel="stylesheet" href=' {% static "css/mdb.min.css" %}'> -->
  <!-- Your custom styles (optional) -->
  <!-- <link rel="stylesheet" href='static/css/style.css'>  -->

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

{% block head_extra %} {% endblock head_extra %}

</head>
<body style="background-color: #EBEBEB; color: #636466;">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=1994101844153657&autoLogAppEvents=1"></script>


{% include "messages_display.html" %}

<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark fixed-top" style="padding: .8rem 1rem; background-color: rgba(69, 90, 189, 0.8) ;">
  <a class="navbar-brand" href='{% url "posts:list" %}'><img src="../static/Logo.jpg" class="rounded float-left" alt="..."" width="60px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href='{% url "posts:list" %}' style="font-weight: 300;
          font-size: 1.3em">
          <i class="fas fa-house-damage"></i> Home
        </a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href='{% url "posts:about" %}' style="font-weight: 300;
          font-size: 1.3em">
         <i class="fas fa-signal"></i> About</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href='{% url "posts:all" %}' style="font-weight: 300;
          font-size: 1.3em">
         <i class="fas fa-yen-sign"></i> Properties</a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href='{% url "admin:index" %}' style="font-weight: 300;
          font-size: 1.3em">
         <i class="fas fa-user"></i> Login</a>
      </li>

    </ul>
  </div>
</nav>
<!--/.Navbar -->

{% block content %}{% endblock content %}



   <!-- Footer -->
<footer class="page-footer font-small  pt-5" style=" background-color: #1c2a48;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Lynmac Property</h5>
        <p>Is an established Real estate firm in kenya registered in 2013.We specialize in Residential and commercial Properties in the areas of Property Management</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">4100, 1Chekmula Buliding , 3rd Floor Kisumu</a>
          </li>
          <li>
            <a href="#!">+254 726 681 845+254 735 100 856</a>
          </li>
          <li>
            <a href="#!">info@lynmac.co.ke</a>
          </li>
          <li>
            <a href="#!">www.lynmac.co.ke</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Services</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Maintenance and Repairs</a>
          </li>
          <li>
            <a href="#!">Letting, Rent collection</a>
          </li>
          <li>
            <a href="#!">Property sales & Marketing</a>
          </li>
          <li>
            <a href="#!">Property Development</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> xycoders.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.6.2/marked.min.js"></script> -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.0/ marked.min.js'></script>

<script type="text/javascript">
  $(function () {
 $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
});

</script>

<script type="text/javascript">
  $(document).ready(function(){
    $(".content-markdown").each(function(){
      var content = $(this).text()
      console.log(content)
      var markedContent = marked(content)
      console.log(markedContent)
      $(this).html(markedContent)
    })
  })
</script>
</body>
</html>