{% extends "base.html" %}

{% block content %}

<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/jj.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/CV.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/yud.jpg" class="d-block w-100" alt="...">
            </div>
            <!--https://upload.wikimedia.org/wikipedia/commons/8/8d/Yarra_Night_Panorama%2C_Melbourne_-_Feb_2005.jpg-->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="search-sec" style="
    top: 0px;
    padding: 1em;
    background-color: #283593;
    color: #ffffff;
    font-size: 1.5em;
    ">
    <div class="container">
    <b>Think of Buying, Selling or Renting a property</b><br/>
     <form method="GET" action="" novalidate="novalidate">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-9 col-md-3 col-sm-12 p-0">
            <input type="text" name="q" class="form-control search-slt" placeholder="Search House Location, Price, Size, Sell, Rent" value="{{ request.GET.q }}" />
          </div>

      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <input type="submit" value="search" class="btn btn-danger wrn-btn"/>
       </div>
      </div>
      </div>
      </div>
      </form>
      </div>                   
    </div>
    <br>
</section>
<section>
<div class="container-fluid">
    <div class="row">
{% for obj in object_list %}
	<div class="col-sm-6 col-md-3" style="top: -25px;">
    <div class="card"> 
      <div class="view overlay">
	<div class="thumbnail">
    {% if obj.image %}
        <img src="{{ obj.image.url }}" class="img-responsive" width="350" height="250" />

        <a href='{{ obj.get_obsolute_url }}'>
          <div class="mask rgba-white-slight"></div>
        </a>
    {% endif %}
    </div>
     
     
    
	<div class="caption">
      <div class="card-body">
      <div class="price">
        <ul class="list-unstyled list-inline d-flex justify-content-between mb-0">
      <li class="list-inline-item mr-0">
        <span>KSH</span>  {{ obj.price }}
        </li>
        <li class="list-inline-item mr-0">
        <i class="fas fa-map-marker-alt"></i> {{ obj.location }}
        </li>
        </ul>
</div>
     <hr>
        {% if obj.draft %}<h3>Only Staf: Draft</h3>{% endif %}{% if obj.publish > today %}<h3>Future Post</h3>{% endif %}
		<h5 class="card-title font-weight-bold"><a href='{{ obj.get_obsolute_url }}'>{{ obj.title }}</a></h5> 

			<!-- <small>{{ obj.timestamp|timesince }} ago</small></h3> -->
      <hr>
    <ul class="list-unstyled list-inline d-flex justify-content-between mb-0">
      <li class="list-inline-item mr-0">
        
    <b style="font-weight: 600; font-size: 16px;">For</b> {{ obj.catagories }}
      </li>
      |&nbsp;<li class="list-inline-item mr-0">
      
          <b style="font-weight: 600; font-size: 16px;">{{ obj.beds}}</b> Beds
      </li>
      |<li class="list-inline-item mr-0">
    <b style="font-weight: 600; font-size: 16px;">{{ obj.bath }} </b> Bathrooms
      </li>
    
    </ul>
	
<!-- 		<a href='{{ obj.get_obsolute_url }}' class="btn btn-primary" role="button">View</a></p>
 -->

		</div>
	</div>
</div>
</div>
</div>
<!-- {% cycle "" "</div> <div class='row'>" %} -->
 
{% endfor %}
</div>
</div>
<section class="padd z-depth-1">
<div class="container">
  <div class="row">
   <div class="col">
  <h4> Find More Properties</h4>
  </div>

<div class="col-12 col-md-auto">
  <div class="pagination" style="font-size: 1.4em; font-weight: 500;">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ object_list.previous_page_number }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
            <a href="?page={{ object_list.paginator.num_pages }} {% if request.GET.q %} &q={{ request.GET.q }} {% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

<div class="col col-lg-2">
  <a href='{% url "posts:all" %}' class="btn btn-danger wrn-btn">More Properties</a>
</div>

</div>
</div>
</section>
</div></div>


<section class="musa" style=" padding: 2em;
  background-color: #1c2a48;
  color: #ffffff;">
<h2>Lynmac Properties & Insurance Agencies</h2><br/>
<div class="container">
 <div class="row">
    <div class="col-6 col-md-4">

    <div class="list-group-flush">
    <p class="mb-2"><i class="fas fa-cogs fa-2x mr-4 danger-color p-3 white-text rounded " aria-hidden="true"></i>
      Maintenance and Repairs
</p><br/>
    <p class="mb-0"><i class="fas fa-house-damage fa-2x mr-4 mr-4 danger-color-dark p-3 white-text rounded" aria-hidden="true"></i>
Letting, Rent collection
</p>
</div>
  </div>
  <div class="col-6 col-md-4">
  <div class="list-group-flush">
    <p class="mb-0"><i class="fas fa-balance-scale fa-2x mr-4 warning-color p-3 white-text rounded " aria-hidden="true"></i>
All Cases of Insurance
</p><br/>
    <p class="mb-0"> <i class="fas fa-camera fa-2x mr-4 mr-4 warning-color-dark p-3 white-text rounded" aria-hidden="true"></i>Property Investigation And Development</p>
</div>
    </div>
    <div class="col-6 col-md-4">

<div class="list-group-flush">
    <p class="mb-0"><i class="fab fa-instagram fa-2x mr-4 success-color p-3 white-text rounded " aria-hidden="true"></i>Property Consultancy </p><br>
    <p class="mb-0"> <i class="fab fa-slack-hash fa-2x mr-4 mr-4 success-color-dark p-3 white-text rounded" aria-hidden="true"></i>Property sales & Marketing</p>
</div>
    </div>
  </div>
</div>
  </section>

<section class="team-area pt-100 pb-100" id="team">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto text-center">
          <div class="section-title">
            <h4>Our Team</h4>
            <p>We are honest, truthfull and accurate in our actions.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="single-team">
            <img src="../static/team3.jpg" width="200" alt=""/> 
            <div class="team-hover">
              <h4>john doe <span>Social Media Marketer</span></h4>
          <!-- Facebook-->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
          <i class="fab fa-facebook-f"></i>
          </a>
        <!--Dribbble -->
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-team">
            <img src="../static/yt.jpg" width="200" alt=""/> 
            <div class="team-hover">
              <h4>JOSHNSON O. OKWAMA<span>Director</span></h4>
          <!-- Facebook-->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!--Dribbble -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-team">
            <img src="../static/jv.jpg" width="200" alt=""/>
            <div class="team-hover">
              <h4>LORNET A.ANYANGO<span>Operation Manager</span></h4>
                <!-- Facebook-->
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-fb">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <!--Dribbble -->
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-dribbble">
                  <i class="fab fa-dribbble"></i>
                </a>
                <!-- Twitter -->
                <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-tw">
                  <i class="fab fa-twitter"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>


{% endblock content %}

