{% extends "base.html" %}


{% block head_title %}
{{ instance.title }} | {{ block.super}}
{% endblock head_title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">

	{% if instance.image %}
		<img src="{{ instance.image.url }}" class="img-responsive" />
	{% endif %}

	<h1>{{ title }} <small>{{ instance.publish }}</small></h1>
	{{ instance.content | linebreaks }}<br/>
	
	<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>

<!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolete_uri }}/">
Facebook
</a>

<a href="https://twitter.com/home?status=I{{ share_string }}%20{{ request.build_absolete_uri }}">
Twitter
</a>
<a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>Google+</a>
 -->

 <div class="fb-comments" data-href="{{ request.build_absolute_uri }} data-numposts="5"></div>

</div>

{% endblock content %}
